{% extends "listings/bases.html" %}

{% block content %}
<div class="row"id="div2">

  <div class="row"id="div5">
     <div class="col"style="text-align:center;">
         <p style="text-align:center; justify-content:center;align-item:center; color:#4B5D67 ;padding-left: 60px;padding-right: 60px;"> 
          <strong style="font-size:25px;"> Rechercher les noms de domaines disponibles aujourd’hui</strong>
        </br></br>Vous souhaitez avoir des informations sur un nom de domaine, il vous suffit de saisir son nom dans le champ de recherche WHOIS 
              de Ldmark, et nous vous indiquerons s’il est disponible ou non.Avec plus de 84 millions de de domaines gérés, nous avons plus 
              d’expérience que quiconque. Nous veillerons à ce que vous trouviez le domaine idéal et qu’il dispose d’un emplacement sécurisé en ligne.</p>

     </div>
  </div>

  <div class="row"id="div6">
      <div class="col">
          
 <button type="button" class="btn btn-primary" id="button1">PERSONNEL</button>
 <button type="button" class="btn btn-warning" id="button2">ENTREPRISE</button>

      </div>
  </div>

  <div class="row"id="div7"style="display:flex;align-items:center;justify-content:center;text-align:center; ">
    
      <div class="container-fluid">
    
        <p style="color: white; position:relative;top:10%;font-size: 18px; color:#4B5D67">Copyright <strong>landmark-2023.</strong></p>
        <p style="color: white; position:relative;top:10%;font-size: 15px; color:#4B5D67">Mention Légales | Tout droits réservés.</p>
   
      </div>
      </div>    
    
</div>
{% endblock %}

       
  
  
